{
  "name": "eyeson",
  "author": {
    "name": "VisoCon GmbH",
    "email": "office@visocon.com",
    "url": "https://www.visocon.com"
  },
  "defaultLocale": "en",
  "domainWhitelist": ["api.eyeson.team"],
  "location": {
    "support": {
      "ticket_sidebar": "assets/ticket_sidebar.html"
    }
  },
  "parameters": [
    {
      "name": "api_key",
      "default": "changeme",
      "type": "hidden",
      "secure": true
    }
  ],
  "private": true,
  "singleInstall": true,
  "version": "1.0",
  "frameworkVersion": "2.0"
}
